Temp/
DerekWork/Temp/
/DerekWork/Library/guidmapper
/DerekWork/Library/metadata
/DerekWork/Library/ScriptAssemblies
/DerekWork/Library/ShaderCache
/DerekWork/Library/assetDatabase3
/DerekWork/Library/FailedAssetImports.txt
Library
/DerekWork/*.userprefs
/DerekWork/*.csproj
/DerekWork/*.sln
*.meta
*.csproj
*.sln
/DerekWork/Library
